# Domain laman web
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Konfigurasi Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Kata laluan Panel Admin (/admin)
ADMIN_PASSWORD=suraualfateh2026
